{% load i18n %}

{% block subject %}
{% blocktrans %}Password reset on {{ Samgreentips }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your account at SamgreenTips .{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://samgreentips.com{{ url|safe }}
{% trans "Your email, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ SamgreenTips }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ SamgreenTips }}.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
<a href="{{ protocol }}://samgreentips.com{{ url|safe }}">{{ protocol }}://samgreentips.com{{ url|safe }}</a>
<p>{% trans "Your email, in case you've forgotten:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Thanks for using SamgreenTips!" %}</p>

<p>{% blocktrans %}The {{ SamgreenTips }} team{% endblocktrans %}</p>
{% endblock html_body %}
