{% load i18n %}

{% block subject %}
{% blocktrans %}Password reset on Samgreen Tips{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at Samgreen Tips.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://samgreentips.com{{ url }}
{% trans "Your email, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The SamGreen Tips team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at SamGreen Tips.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
<a href="{{ protocol }}://samgreentips.com{{ url }}">{{ protocol }}://samgreentips.com/{{ url }}</a>
<p>{% trans "Your email, in case you've forgotten:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The SamGreen Tips team{% endblocktrans %}</p>
{% endblock html_body %}
